html,
body {
  margin: 0;
  padding: 0;
  background-color: cadetblue;
}

body {
  text-align: center;
  font-family: sans-serif;
}

input {
  width: 150px;
  height: 30px;
  font-size: 20px;
  margin: 5px auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

button {
  font-size: 20px;
  background-color: coral;
  border: none;
  padding: 12px 28px;
  border-radius: 10px;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: 5px 5px 5px orangered;
}

.container img {
  margin-top: 40px;
  width: 50%;
  height: auto;
}
