body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Karla;
  height: 100vh;
  background-color: rgb(126, 181, 199);
}

.container,
.container-one {
  background-color: rgb(110, 153, 180);
  height: 100px;
  display: flex;
  padding: 20px;
  margin: 12px 24px;

  justify-content: center;
  align-items: center;
  color: #fff;
}

.container-one:focus {
  background-color: rgb(96, 146, 177);
  border: 2px solid white;
  outline: none;
  border-radius: 20px;
  color: black;
}

.text {
  font-size: 30px;
}
