body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.clock {
  height: 200px;
  width: 200px;
  border: 20px solid #c3c3c3;
  border-radius: 50%;
  margin: 50px auto;
  position: relative;
}

.hand {
  width: 50%;
  position: absolute;
  background: #484847;
  height: 6px;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s ease-in-out;
}

.seconds {
  height: 2px;
}

.minutes {
  height: 4px;
  top: 50%;
  width: 40%;
  left: 10%;
}

.hours {
  top: 50%;
  width: 30%;
  left: 20%;
}
