html body {
  box-sizing: border-box;
}

.container {
  background-color: lightpink;
  border: 2px solid black;
  max-width: 90%;
  height: 90vh;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.17);
}

.title {
  font-size: 75px;
  margin-bottom: 0;
  margin-top: 0;
}

.timer {
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 75px;
  letter-spacing: 0.5rem;
  max-width: 70%;
  height: 150px;
  width: 100%;
  border: 3px solid black;

  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.17);
}

button {
  font-weight: bold;
  padding: 25px 54px;
  font-size: 50px;
  background-color: lightgreen;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.17);
  border: none;
  border-radius: 5px;
}

button:hover {
  font-size: 60px;
}

button:focus {
  background-color: aquamarine;
  border: 4px solid white;
}
