body {
  margin: 10px;
  padding: 0;
  background-color: rgb(43, 87, 231);
}

.coins {
  display: flex;
  /* background-color: floralwhite; */
  justify-content: space-around;
  padding: 4px;
}

.coin {
  background-color: gainsboro;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;

  border-radius: 50%;
  border: 2px solid black;
  margin-bottom: 10px;
}

.quarter {
  height: 80px;
  width: 80px;
}

.dime {
  height: 70px;
  width: 70px;
}

.nickel {
  height: 60px;
  width: 60px;
}

.penny {
  background-color: lightcoral;
  height: 60px;
  width: 60px;
}

.coin-counts {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.count {
  height: 60px;
  width: 40px;
  border: 4px solid black;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.input {
  height: 100px;
  width: 65%;
  display: block;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: lightcoral;
  font-size: 2rem;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

button {
  display: inline-block;
  padding: 12px 28px;
  font-size: 1.5rem;
  background-color: lightgreen;
  border: none;
}

button:hover {
  font-size: 1.6rem;
  background-color: lightcoral;
}

button:disabled {
  pointer-events: none;
  background-color: grey;
}

button:focus {
  outline: none;
  box-shadow: 10px 5px 5px #c3c3c3;
}
.visible {
  visibility: visible;
}

.not-visible {
  visibility: hidden;
}
