body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.panels {
  display: flex;
  flex-direction: row;
}

.panel {
  height: 100vh;
  border: 2px solid black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: auto;
  transition: all 1s ease-in-out;
}

.panel-first {
  background-image: url('./photo-1.jpeg');
}

.panel-second {
  background-image: url('./photo-3.jpg');
}

.panel-third {
  background-image: url('./photo-4.jpg');
}

.panel-normal {
  flex-grow: 1;
  /* transform: translateX(1.8s); */
}

.panel-focus {
  flex-grow: 10;
  transform: scale(1.1);
  /* transform: translateX(3s); */
}
