body {
  background-color: #94c9a9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 300px;
  background-color: #c6ecae;
  border-radius: 20px;
  margin: 60px;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.button {
  background-color: #fe5f55;
  border-radius: 10px;
  width: 200px;
  height: 30px;
  align-self: center;
}

#input {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
}

#result {
  color: #181a25;
  font-size: 50px;
  align-self: center;
}
