body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightpink;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  background-color: palevioletred;
  width: 900px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rosybrown;
}

h1 {
  color: gold;
  font-size: 44px;
  margin: 0;
}

p {
  color: whitesmoke;
  font-size: 30px;
  margin: 0;
}

section {
  background-color: whitesmoke;
  color: black;
  width: 70%;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.btn {
  background-color: gold;
  padding: 12px 28px;
  color: black;
  border-radius: 20px;
  display: inline-block;
  margin-bottom: 10px;
}

.qtn {
  color: black;
}

ul {
  margin-left: 10px;
}

li {
  list-style-type: circle;
  font-size: 25px;
  margin: 20px;
}

li:nth-child(4) {
  list-style-type: disc;
}
