body {
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.string {
  /* padding: 12px 38px; */
  background-color: rgb(224, 224, 127);
  font-size: 30px;
  text-align: center;
  width: 20%;
  padding: 4px;
}

.string:focus {
  border: 3px solid black;
  border-radius: 20px;
  outline: none;
}

.solve {
  padding: 10px 24px;
  background-color: green;
  font-size: 30px;
  font-weight: bold;
  color: white;
  border: none;
  margin: 20px;
}

.solution {
  padding: 10px 20px;
  background-color: rgb(99, 99, 238);
  font-size: 30px;
  border: 3px solid black;
  border: none;
  color: white;
  font-weight: bold;
  margin: 20px;
}

.container-two {
  display: flex;
}
